# 编译生成的文件
*.o
*.obj
*.so
*.exe
*.out

# CMake 编译生成的目录
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# 编译生成的目录
build/
bin/
obj/
x64/
.vs

# 临时文件
*.log
*.tmp
*.swp
*~

# IDE 配置文件
.vscode/
.idea/
*.suo
*.ncb
*.sdf
*.opensdf

# 其他
*.dSYM/
*.ipch
*.bin
*.db
/Invengo.Libary.CppDemo/Debug
/Invengo.Library.Algorithm/Debug
/Invengo.Library.Algorithm/x64
*.bin
*.obj
*.tlog
Invengo.Library.Algorithm/.vs/Invengo.Library.Algorithm/DesignTimeBuild/.dtbcache.v2
Invengo.Library.Algorithm/.vs/Invengo.Library.Algorithm/v17/.suo
Invengo.Library.Algorithm/.vs/Invengo.Library.Algorithm/v17/Browse.VC.db
Invengo.Library.Algorithm/.vs/Invengo.Library.Algorithm/v17/Solution.VC.db
Invengo.Library.Algorithm/.vs/ProjectEvaluation/invengo.library.algorithm.metadata.v7.bin
Invengo.Library.Algorithm/.vs/ProjectEvaluation/invengo.library.algorithm.projects.v7.bin
Invengo.Library.Algorithm/Release/algorithm.obj
Invengo.Library.Algorithm/Release/DataAnalyzer.obj
Invengo.Library.Algorithm/Release/DBSCANFilter.obj
Invengo.Library.Algorithm/Release/dllmain.obj
Invengo.Library.Algorithm/Release/Invengo..024118a0.tlog/link.read.1.tlog
Invengo.Library.Algorithm/Release/Invengo.Library.Algorithm.dll
Invengo.Library.Algorithm/Release/Invengo.Library.Algorithm.iobj
Invengo.Library.Algorithm/Release/Invengo.Library.Algorithm.ipdb
Invengo.Library.Algorithm/Release/Invengo.Library.Algorithm.log
Invengo.Library.Algorithm/Release/Invengo.Library.Algorithm.pch
Invengo.Library.Algorithm/Release/Invengo.Library.Algorithm.pdb
Invengo.Library.Algorithm/Release/IQRFilter.obj
Invengo.Library.Algorithm/Release/KMeansFilter.obj
Invengo.Library.Algorithm/Release/pch.obj
Invengo.Library.Algorithm/Release/VarianceFilter.obj
Invengo.Library.Algorithm/Release/vc143.pdb
Invengo.Library.Algorithm/Release/VersionInfo.obj
Invengo.Library.Algorithm/Release/ZScoreFilter.obj
Invengo.Library.App/obj/Debug/net7.0/Invengo.Library.App.AssemblyInfo.cs
Invengo.Library.App/obj/Debug/net7.0/Invengo.Library.App.AssemblyInfoInputs.cache
Invengo.Library.App/obj/Release/net7.0/Invengo.Library.App.AssemblyInfo.cs
Invengo.Library.App/obj/Release/net7.0/Invengo.Library.App.AssemblyInfoInputs.cache
Invengo.Library.APP452/obj/Release/Invengo.Library.APP452.csproj.AssemblyReference.cache
Invengo.Library.NetCore/obj/Debug/netcoreapp2.1/Invengo.Library.NetCore.AssemblyInfo.cs
Invengo.Library.NetCore/obj/Debug/netcoreapp2.1/Invengo.Library.NetCore.AssemblyInfoInputs.cache
Invengo.Library.NetCore/obj/Release/netcoreapp2.1/Invengo.Library.NetCore.AssemblyInfo.cs
Invengo.Library.NetCore/obj/Release/netcoreapp2.1/Invengo.Library.NetCore.AssemblyInfoInputs.cache
/Invengo.Library.Algorithm/Debug
/Invengo.Libary.CppDemo/Release
/Invengo.Library.Algorithm/Invengo..024118a0
